html {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 1;
  color: #1f373d;
}

#wrapper {
  position: relative;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  font-weight: bold;
  font-size: 16px;
  
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border: none;
  background: #ffcc01;
  padding: 12px 25px;
  border-radius: 5px;
}

/* header */

.header {
  display: flex;
    align-items: center;
    height: 70px;
    padding: 0 15px;
    position: relative;
}
.menu {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  align-self: center;
  
}

.menu__toggle{
  position: absolute;
  left: -99999999px;
  opacity: 0;
  visibility: hidden;
}
.menu__toggle:checked ~ .nav-list{
  height: auto;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in;
}
.menu__toggle:checked +.menu__btn span {
  opacity: 0;
  visibility: hidden;
}
.menu__toggle:checked +.menu__btn::before
{
top: 10px;
  transform: rotate(135deg);
  transition: transform 1s ease;
}
.menu__toggle:checked +.menu__btn::after
{

top: 10px;   
  transform: rotate(-135deg) ;
  transition: transform 1s ease;
}
.menu__btn {
  position: relative;
height: 20px;
width: 30px;

}
.menu__btn::before,
.menu__btn::after,
.menu__btn span
{
  height: 3px;
  
  border-radius: 2px;
  background: black;
  position: absolute;
  left: 0;
  right: 0;

}
.menu__btn::before {
  content: '';
  top: 0;
}
.menu__btn::after {
content: '';
  bottom: 0;
}
.menu__btn span {
  top: 50%;
  transform: translateY(-50%);
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2;
    background: white;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 9999;
    height:  0;
   
    visibility: hidden;
    transition: all 0.3s ease-in;
  
}

.nav-item {
  margin-bottom: 15px;
}


.header a {
  color: #1f373d;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.header-logo {
  margin-right: 15px;
}

.header-box {
  display: flex;
  align-items: center;
}

.header-nav {
  flex-grow:1;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.header-login {
  margin-left: 100px;
}

.login-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.login-list li + li {
  padding-left: 22px;
}

.login-list .btn:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
#menu__toggle {
  position: absolute;
  left: -9999999px;
  opacity: 0;
  visibility: hidden;
}
.nav-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-list li + li{
  padding-left: 30px;
}

/* main */

/* section-banner */

.section-banner {
  position: relative;
}

.section-banner::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 26.7%;
  background: #97becf;
}

.section-banner .link-down {
  position: absolute;
  background:url(img/arrow.png) no-repeat ;
  background-position: 0 50%;
  padding-left: 40px;
  bottom: 52px;
  left: -50px;
  text-decoration: none;
  transform: rotate(-90deg);
}


.banner-wrap {
  position: relative;
  z-index: 1;
  padding-top: 150px;
}

.banner-form {
  margin-bottom: 140px;
  max-width: 580px;
}

.banner-form .title {
  font-size: 61px;
  line-height: 1.27;
  color: #1f373d;
  letter-spacing: -3px;
}

.banner-form .form-group {
  display: flex;
}

.banner-form input {
  height: 70px;
  max-width: 360px;
  width: 100%;
  border: none;
  font-size: 15px;
  line-height: 1;
  background: url(img/search.png) no-repeat;
  background-position: 5px 50%;
  background-size: auto;
  padding: 10px 10px 10px 35px;
  background-color: #fff;
}

.banner-form input + .btn {
  border-radius: 0 5px 5px 0;
  margin-left: -1px;
}

.banner-form .btn {
  height: 70px;
  max-width: 115px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-form .btn:hover{
  opacity: 0.8;
  transition: opacity 0.3s ease-in;
}

.banner-description {
  display: flex;
  justify-content: flex-end;
}

.banner-description .contact-list {
  display: flex;
  list-style: none;
}

.contact-list 
{
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 80px;
  bottom:0;
  right: 0;
  padding: 0;
  margin: 0;
  background: #ffcc01;
  text-align: center;
  text-decoration: none;
}
.contact-list .phone
{
 
  background: url(img/phone.png) no-repeat;
  background-position: 5px 50%;
  position: relative;
  top: 45%;
  text-decoration: none;
  left: 40%;
  padding: 15px 15px 15px 45px;
  margin: 0;
  width: 300px;
  height: 80px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: black;
  
}
.contact-list .country
{
  position: relative;
  top: 45%;
  right: 40%;
  background: url(img/map.png) no-repeat ; 
  background-position: 5px 50%;
  padding: 15px 15px 15px 45px;
  margin: 0;
  width: 300px;
  height: 80px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: black;
  text-align: center;
}
.contact-list .country:hover
{
  text-decoration: underline;
}
.contact-list .phone:hover
{
  text-decoration: underline;
}

.our-wrap {
  display: flex;
  position: relative;
  margin-top: 150px;
  height: auto;
}
.our-wrap .textArea {
  
  height: inherit;
  width: 50%;
  
  padding-right: 50px;
}
.our-wrap .textArea h1 {
  font-size: 30px;
  
  margin-bottom: 70px;
}
.our-wrap .textArea p {
  font-size: 10px;
  line-height: 2;
  font-weight: 500;
  margin-bottom: 70px;
}


.our-wrap .boxarea {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: auto;
  
}
.our-wrap .boxarea .box {
  
  margin: 15px;
  background:#f6f5f4;
  line-height: 1.5;
  width: 200px;
  height: 200px;
  
}
/*.our-wrap .boxarea .box:hover {
  transition: all 0.3s ease;
  background:#92bee7;
}*/
.boxarea .box .number
{
  color: orange;
  font-weight: 900;
  font-size: 28px;
}
.boxarea .box .text
{
  color: black;
  font-weight: bold;
  font-size: 10px;
}
.boxarea .box p
{
  position: relative;
  top: 30%;
  text-align: center;
}

.appForRent {
  margin-top: 80px;
  background: #f6f5f4;
  height: auto;
}

.appForRent .container .metatext h1{
  font-weight: 900;
  padding-top: 70px;
  font-size: 28px;
  padding-bottom: 80px;
}
.appExamples {
  display: flex;
  flex-wrap: wrap;
}
.appExamples .box {
  
  display: flex;
  width: 350px;
  height:380px;
  background: #b1d7e8;
}
.appExamples .box:nth-child(1)
{
  margin: 0 15px 135px 0;
}
.appExamples .box:nth-child(2)
{
  margin: 0 15px 135px 15px;
}
.appExamples .box:nth-child(3)
{
  margin: 0 0 135px 15px;
}
.appExamples .box:nth-child(4)
{
  margin: 15px 15px 180px 0;
}
.appExamples .box:nth-child(5)
{
  margin: 15px 15px 180px 15px;
}
.appExamples .box:nth-child(6)
{
  margin: 15px 0 180px 15px;
}
.appExamples .box:hover
{
  transition: all 0.5s linear;
transform: scale(1.1);
opacity: 0.8;
}
.appExamples .box .downContent
{
  position: relative;
  top: 380px;
  background: #ffffff;
  width: 350px;
  height: 120px;
}
.downContent .adress {
  position: relative;
  top: 5%;
  left: 15px;
  font-weight: bold;
  font-size: 14px;

}
.downContent .info {
  position:relative;
  top: 20%;
  display: flex;
  justify-content: space-between  ;
}
.downContent .money {
  position: relative;
  left: 15px;
  
  font-weight: 900;
  font-size: 18px;
  color: orange;
}
.downContent .shover {
  position: relative;
  left: 50px;
  font-size: 14px;
  background: url(img/shover.png) no-repeat;
  background-position: 5px 50%;
  padding-left: 20px;
}
.downContent .bed {
  position: relative;
  font-size: 14px;
  left:-25px;
  background: url(img/bed.png) no-repeat;
  background-position: 5px 50%;
  padding-left: 30px;
}

 .form-group2 {
  display: flex;
  height: auto;
  padding-bottom: 60px;
}

.form-group2  input {
  position: relative;
  height: 70px;
  max-width: 360px;
  width: 100%;
  border: none;
  font-size: 15px;
  line-height: 1;
  background: url(img/search.png) no-repeat;
  background-position: 5px 50%;
  background-size: auto;
  padding: 10px 10px 10px 35px;
  background-color: #fff;
}

.form-group2   input + .btn2 {
  border-radius: 0 5px 5px 0;
  margin-left: -1px;
}

.form-group2   .btn2 {
  position: relative;
  height: 70px;
  background: #ffcc01;
  border: none;
  max-width: 115px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-group2  .btn2:hover{
  opacity: 0.8;
  transition: opacity 0.3s ease-in;
}

.form-group2   .btn3 {
  margin-left: 40px;
  position: relative;
  height: 70px;
  background: white;
  border: none;
  font-weight: 500;
  max-width: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-group2  .btn3:hover{
  opacity: 0.8;
  transition: opacity 0.3s ease-in;
}

.howItWorks .container .metatext h1{
  font-weight: 900;
  padding-top: 65px;
  font-size: 28px;
  
}
.howItWorks  .container .metatext p {
  font-size: 11px;
  line-height: 2;
  font-weight: 500;
  max-width: 340px;
  margin-bottom: 75px;
}
.activeBoxes
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.activeBox
{
  cursor: pointer;
  display: flex;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.329);
background-color: #ffffff;
overflow-y: hidden;
flex-wrap: wrap;
width: 350px;
height: 350px;
}
.activeBox:hover
{
  transition: all 0.3s ease-in;
  background: orange;
  color: white;
}

.activeBox:hover .mainText .find {
  transition: all 0.3s ease-in;
  color: white;
}
.activeBox:hover .mainText .spanunderline {
  transition: all 0.3s ease-in;
  background: white;
}

.activeBox .upperNumber{
  position: relative;
  top: 0;
  left: 0;
  height: 0;
  min-width: 100%;
}
.activeBox .upperNumber h1 
{
  margin-bottom: 0;
  
  position: absolute;
  left: -35px;
  top: -45px;
  font-size: 130px;
}
.mainText
{
  display: flex;
  position: relative;
  flex-direction: column;
  
  align-items: flex-start;
  height: 300px;
  left: 20%;
  width: 100%;
  width: 210px;
  top: 108px;
  
}
.activeBox .mainText .h3t
{
  position: relative;
  font-size: 16px;
  top: 0;
  left: -25px;
}
.activeBox .mainText .text1::before
{
  content: "01";
  padding-right: 20px;
}
.activeBox .mainText .text2::before
{
  content: "02";
  padding-right: 20px;
}
.activeBox .mainText .text3::before
{
  content: "03";
  padding-right: 20px;
}

.activeBox .mainText p
{
  position: relative;
  top: 0;
  line-height: 2;
  left: 0;
  font-weight: 600;
  
}
.activeBox .mainText .find {
  text-decoration: none;
color: #1f373d;
font-weight: 600;
font-size: 14px;
}
.activeBox .mainText .spanunderline {
  height: 2px;
  margin-top: 15px;
  width: 95px;
  background: #1f373d;
}
.activeBox .mainText .spanunderline2 {
  height: 2px;
  margin-top: 15px;
  width: 120px;
  background: #1f373d;
}
.activeBox .mainText .spanunderline3 {
  height: 2px;
  margin-top: 15px;
  width: 95px;
  background: #1f373d;
}
.services .container .metatext h1{
  font-weight: 900;
  padding-top: 65px;
  font-size: 36px;
  
}
.services {
  height: auto;
}
.services  .container .metatext p {
  font-size: 12px;
  line-height: 2;
  font-weight: 500;
  max-width: 340px;
  margin-bottom: 75px;
}
.contentPart
{
  display: flex;
  height: auto;
  width: inherit;
  
}

.contentPart .bgPart
{
  position: absolute;
  border: 0;
  padding: 0;
  left: -70px;
  margin: 0;
  width: 50%;
  background: #acd1e1;
  min-height: 650px;
  height: auto;
}
.contentPart .textPart {
  
  width: 50%;
  position: relative;
  left: 50%;
  border: 0;
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: column;
}
.contentPart .textPart p {
  padding: 40px 0 65px 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 2;
  margin: 0;
}

.contentPart .textPart p:nth-child(3) {
  padding-top: 40px;
  margin: 0;
}

.contentPart .textPart h2 {  
  font-size: 26px;
  color: #1f373d;
  margin: 0;
  padding: 0;
}

.meetOurAgents {
  margin-top: 80px;
  background: #f6f5f4;
  height: auto;
  padding-bottom: 200px;
}

.meetOurAgents .container .metatext h1{
  font-weight: 900;
  padding-top: 70px;
  font-size: 36px;
  padding-bottom: 40px;
}
.meetOurAgents  .container .metatext p {
  font-size: 12px;
  line-height: 2;
  font-weight: 500;
  max-width: 360px;
  margin-bottom: 75px;
}
.agentsExamples {
  display: flex;
  flex-wrap: wrap;
}
.agentsExamples .box {
  
  display: flex;
  width: 350px;
  height:380px;
  background: #cdccce;
}
.agentsExamples .box:nth-child(1)
{
  margin: 0 15px 0 0;
}
.agentsExamples .box:nth-child(2)
{
  margin: 0 15px 0 15px;
}
.agentsExamples .box:nth-child(3)
{
  margin: 0 0 0 15px;
}
.agentsExamples .box:hover
{
  transition: all 0.5s linear;
transform: scale(1.1);
opacity: 0.8;
}
.agentsExamples .box .downContent
{
  position: relative;
  top: 380px;
  background: #ffffff;
  width: 350px;
  height: 120px;
}
.agentsExamples .box .downContent .agent {
  position: relative;
  top: 5%;
  left: 15px;
  font-weight: bold;
  font-size: 14px;

}
.agentsExamples .box .downContent  .info {
  position:relative;
  top: 20%;
  display: flex;
  justify-content: space-between  ;
}
.agentsExamples .box .downContent .name {
  position: relative;
  left: 15px;
  
  font-weight: 900;
  font-size: 14px;
  color: orange;
}
.agentsExamples .box .downContent .facebook {
  position: relative;
  left: 25px;
  font-size: 14px;
  background: url(img/facebook.png) no-repeat;
  background-position: 5px 50%;
  padding-left: 20px;
}
.agentsExamples .box .downContent .twitter {
  position: relative;
  font-size: 14px;
  left:0;
  width: 20px;
  background: url(img/twitter.png) no-repeat;
  background-position: 5px 50%;
  padding-left: 15px;
}
.agentsExamples .box .downContent .basket {
  position: relative;
  height: 20px;
  left:-25px;
  background: url(img/basket.png) no-repeat;
  background-position: 5px 50%;
  padding-left: 30px;
}
.mainBlock
{
  margin-top: 90px;
  display: flex;
  width: 100%;
  height: 380px;
  
}
.mainBlock .backBox
{
  display: flex;
  
  height: 330px;
  width: 50%;
 
  background: #8da4be;
}
  .mainBlock .backBox .locationBox
  {
    position: relative;
    height: 80px;
    width: 65%;
    
    background: #ffcc01;
    left: 20%;
    top: 85%;
    text-align: center;
  }
.mainBlock .backBox .locationBox h3
{
  position: relative;
  top: 25%;
  font-size: 16px;
  padding-top: 10px;
  height: 30px;
  background: url(img/map.png) no-repeat;
    background-position: 40px 3px;
}


.mainBlock .textBox
{
  
  position: relative;
  width: 45%;
  height: 170px;
  line-height: 2;
  top: 30%;
  left: 10%;
}
.mainBlock .textBox h1{
  font-size: 22px;
}
.mainBlock .textBox p{
  font-weight: 500;
}
.mainBlock2
{
    margin-top: 90px;
  display: flex;
  width: 100%;
  height: 380px;
  flex-direction: row-reverse;
}
.mainBlock2 .backBox2
{
  display: flex;
  height: 330px;
  width: 45%;
  background: #8da4be;
}
.mainBlock2 .backBox2 .locationBox2
{
  position: relative;
  height: 80px;
  width: 65%;
  background: #ffcc01;
  left: 50%;
  top: 85%;
  text-align: center;
}
.mainBlock2 .backBox2 .locationBox2 h3
{
  position: relative;
  top: 25%;
  
  font-size: 16px;
  padding-top: 10px;
  height: 30px;
  background: url(img/map.png) no-repeat;
    background-position: 40px 3px;
}


.mainBlock2 .textBox2
{
  
  position: relative;
  width: 45%;
  height: 170px;
  margin-right: 130px;
  line-height: 2;
  top: 30%;
  left: 0;
  text-align: right;
}
.mainBlock2 .textBox2 h1{
  font-size: 22px;
}
.mainBlock2 .textBox2 p{
  font-weight: 500;
}
.mainBlock3
{
  margin-top: 90px;
  display: flex;
  width: 100%;
  height: 380px;
  
}
.mainBlock3 .backBox3
{
  display: flex;
  
  height: auto;
  width: 45%;
 margin-bottom: 50px;
  background: #8da4be;
}
.mainBlock3 .textBox3 .locationBox3
{
  position: relative;
  height: 80px;
  width: 240px;
  margin-top: 30px;
  
  background: #1f373d;
  color: #fff;
  text-align: center;
}
.mainBlock3 .textBox3 .locationBox3 h3
{
  position: relative;
  top: 15%;
  font-size: 16px;
  padding-top: 10px;
  height: 30px;
  
}


.mainBlock3 .textBox3
{
  
  position: relative;
  width: 45%;
  height: auto;
  line-height: 2;
  top: 10%;
  left: 10%;
}
.mainBlock3 .textBox3 h1{
  font-size: 22px;
}
.mainBlock3 .textBox3 p{
  font-weight: 500;
}

.footer
{
  display: flex;
  width: 100%;
  height: 530px;
  background:#1f373d;
}
.footer .uppContent{
  margin-top: 50px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit  ;
}
.footer .uppContent .textContent
{
  display: flex;
  
  flex-direction: column;
  color: white;
  font-size: 14px;
  margin-left: 10px;
  
}



.uppContent .inputBox input
{
  position: relative;
  padding: 0 0 0 5px;
  margin: 0;
  display: flex;
  
  background: url(img/arrowRight.png) no-repeat white;
  background-position: 95% 50%;
  border: none;
  width: 475px;
  height: 70px;
}
input:active, input:hover, input:focus {
  outline: 0;
  outline-offset: 0;
}
.uppContent .underline
{
  position: absolute;
  
  bottom: 5%;
  width: 1110px;
  background: white;
  height: 2px;
}
.footer .downContent{
  position: relative;
  left: 0;
  margin-top: 10%;
  display: flex;
  height: 50%;
  width: 100%;
}
.footer .downContent .footer-logo{
  
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  
}

.downContent .footer-logo a {
  
  color: #fff;
  text-decoration: none;
}

.downContent .footer-logo a:hover {
  text-decoration: underline;
}

.downContent .footer-logo p {
  position: relative;
  color: #fff;
  font-size: 11px;
  width: 110px;
  
  font-weight: 500;
}
.downContent .mainContent 
{
  position: relative;
  display: flex;
  top: 50px;
  justify-content: space-between;
  color: #fff;
  margin-left: 150px;
  width: 500px;
  font-weight: 500;
}
.downContent .mainContent ul
{
  position: relative;
  margin-left: 80px;
}
.downContent .mainContent h5
{
  margin-bottom: 50px;
  color: #919eb1;
}
.downContent .mainContent li
{
  margin-bottom: 15px;
list-style: none;
}
.downContent .mainContent a
{
  text-decoration: none;
  font-size: 13px;
  color: white;
}

.downContent .mainContent a:hover
{
  text-decoration: underline;
}

@media (min-width: 0px) and (max-width: 579px)
{
    
  .header-nav
  {
    flex-direction: row;
    
  }
  .footer {
    display: none;
  }
  .contact-list 
  {
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 50px;
    bottom:0;
    right: 0;
    padding: 0;
    margin: 0;
    background: #ffcc01;
    text-align: center;
    text-decoration: none;
  }
  .contact-list .phone
  {
    position: relative;
    top: 45%;
    
    left: 5%;
  
    font-size: 8px;
  }
  .contact-list .country
  {
    position: relative;
    top: 45%;
    left: auto;
    right: 0;
    
    font-size: 8px;
    
  }
  .our-wrap .boxarea .box {
    width: 130px;
    height: 130px;
  }

  .boxarea .box p
{
  top: 15%;
}
.appExamples
{
  justify-content: center;
}
.appExamples .box {
  
  display: flex;
  width: 350px;
  height:380px;
  background: #b1d7e8;
}
.appExamples .box:nth-child(1)
{
  margin: 30px 30px 135px 30px;
}
.appExamples .box:nth-child(2)
{
  margin: 30px  30px 135px 30px;
}
.appExamples .box:nth-child(3)
{
  margin: 30px 30px 135px 30px;
}
.appExamples .box:nth-child(4)
{
  margin: 30px  30px 135px 30px;
}
.appExamples .box:nth-child(5)
{
  display: none;
}
.appExamples .box:nth-child(6)
{
  display: none;
}
.activeBoxes
{
  display: flex;
  flex-wrap: wrap;
}
.activeBox{
  width: 100%;
  height: 300px;
  }
  .activeBox .mainText 
  {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    position: relative;
    font-size: 16px;
    top: 0;
    left: 0;
  }
  .activeBox .mainText .h3t
{
  position: relative;
  font-size: 18px;
  font-weight: 700;
  top: 0;
  left: -25px;
}
.activeBox .mainText p
{
  position: relative;
  top: 0;
  text-align: center;
  width: auto;
  line-height: 2;
  left: 0;
  font-weight: 500;
  
}
.activeBox .mainText .find {
  text-decoration: none;
color: #1f373d;
font-weight: 700;
font-size: 18px;
}
.activeBox .upperNumber h1 
{
  margin-bottom: 0;
  
  position: absolute;
  left: -45px;
  top: -75px;
  font-size: 160px;
}
.activeBox .mainText .spanunderline {
  height: 3px;
  margin-top: 15px;
  width: 20%;
  background: #1f373d;
}
.activeBox .mainText .spanunderline2 {
  height: 3px;
  margin-top: 15px;
  width: 20%;
  background: #1f373d;
}
.activeBox .mainText .spanunderline3 {
  height: 3px;
  margin-top: 15px;
  width: 20%;
  background: #1f373d;
}
.agentsExamples {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.agentsExamples .box {
  
  display: flex;
  width: 350px;
  height:380px;
  background: #cdccce;
}
.agentsExamples .box:nth-child(1)
{
  margin: 30px 15px 130px 0;
}
.agentsExamples .box:nth-child(2)
{
  margin: 30px 15px 0 0;
}
.agentsExamples .box:nth-child(3)
{
  display: none;
  margin: 0 0 0 15px;
}
.agentsExamples .box .downContent
{
  position: relative;
  top: 380px;
  background: #ffffff;
  width: 350px;
  height: 120px;
  margin-bottom: 30px;
}
.mainBlock .backBox .locationBox
{
  left: 0;
  width: 100%;
}
.mainBlock .backBox .locationBox h3
{
  font-size: 14px;
}
.mainBlock2 .backBox2 .locationBox2 h3
{
  font-size: 14px;
}

.mainBlock2 .backBox2 .locationBox2
{
  
  left: 0;
  width: 100%;
}
.mainBlock2 .textBox2
{
  margin-right: 50px;
}
}
@media (min-width: 580px) and (max-width: 984px)
{
    
  .header-nav
  {
    flex-direction: row;
    
  }
  .contact-list 
{
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 50px;
  bottom:0;
  right: 0;
  padding: 0;
  margin: 0;
  background: #ffcc01;
  text-align: center;
  text-decoration: none;
}
.contact-list .phone
{
  position: relative;
  top: 45%;
  
  left: 15%;

  font-size: 10px;
}
.contact-list .country
{
  position: relative;
  top: 45%;
  right: 20%;
  
  font-size: 10px;
  
}
.banner-form .title {
  font-size: 43px;
  line-height: 1.27;
  color: #1f373d;
  letter-spacing: -3px;
}
.our-wrap .boxarea .box {
  width: 130px;
  height: 130px;
}

.boxarea .box p
{
  top: 15%;
}
.appExamples
{
  justify-content: center;
}
.appExamples .box {
  
  display: flex;
  width: 350px;
  height:380px;
  background: #b1d7e8;
}
.appExamples .box:nth-child(1)
{
  margin: 30px 30px 135px 30px;
}
.appExamples .box:nth-child(2)
{
  margin: 30px  30px 135px 30px;
}
.appExamples .box:nth-child(3)
{
  margin: 30px 30px 135px 30px;
}
.appExamples .box:nth-child(4)
{
  margin: 30px  30px 135px 30px;
}
.appExamples .box:nth-child(5)
{
  display: none;
}
.appExamples .box:nth-child(6)
{
  display: none;
}
.activeBoxes
{
  display: flex;
  flex-wrap: wrap;
}
.activeBox{
  width: 100%;
  height: 300px;
  }
  .activeBox .mainText 
  {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    position: relative;
    font-size: 16px;
    top: 0;
    left: 0;
  }
  .activeBox .mainText .h3t
{
  position: relative;
  font-size: 18px;
  font-weight: 700;
  top: 0;
  left: -25px;
}
.activeBox .mainText p
{
  position: relative;
  top: 0;
  text-align: center;
  width: auto;
  line-height: 2;
  left: 0;
  font-weight: 500;
  
}
.activeBox .mainText .find {
  text-decoration: none;
color: #1f373d;
font-weight: 700;
font-size: 18px;
}
.activeBox .upperNumber h1 
{
  margin-bottom: 0;
  
  position: absolute;
  left: -45px;
  top: -75px;
  font-size: 200px;
}
.activeBox .mainText .spanunderline {
  height: 3px;
  margin-top: 15px;
  width: 20%;
  background: #1f373d;
}
.activeBox .mainText .spanunderline2 {
  height: 3px;
  margin-top: 15px;
  width: 20%;
  background: #1f373d;
}
.activeBox .mainText .spanunderline3 {
  height: 3px;
  margin-top: 15px;
  width: 20%;
  background: #1f373d;
}
.agentsExamples {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.agentsExamples .box {
  
  display: flex;
  width: 350px;
  height:380px;
  background: #cdccce;
}
.agentsExamples .box:nth-child(1)
{
  margin: 30px 15px 130px 0;
}
.agentsExamples .box:nth-child(2)
{
  margin: 30px 15px 0 0;
}
.agentsExamples .box:nth-child(3)
{
  display: none;
  margin: 0 0 0 15px;
}
.agentsExamples .box .downContent
{
  position: relative;
  top: 380px;
  background: #ffffff;
  width: 350px;
  height: 120px;
  margin-bottom: 30px;
}
.mainBlock .backBox .locationBox
{
  left: 0;
  width: 100%;
}
.mainBlock .backBox .locationBox h3
{
  font-size: 14px;
}
.mainBlock2 .backBox2 .locationBox2 h3
{
  font-size: 14px;
}

.mainBlock2 .backBox2 .locationBox2
{
  
  left: 0;
  width: 100%;
}
.mainBlock2 .textBox2
{
  margin-right: 50px;
}
.footer {
  display: none;
}
}
@media (min-width: 985px) and (max-width: 1200px)
{
  .menu__btn {
    display: none;
}
.nav-list {
  position: static;
  height: auto;
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  list-style: none;
  font-size: 13px;
  font-weight: 400;
}
.nav-item + .nav-item {
  padding-left: 15px;
  
}
.nav-item
{
  margin-bottom: 0;
}
.appExamples
{
  justify-content: center;
}
.appExamples .box {
  
  display: flex;
  width: 350px;
  height:380px;
  background: #b1d7e8;
}
.appExamples .box:nth-child(1)
{
  margin: 30px 30px 135px 30px;
}
.appExamples .box:nth-child(2)
{
  margin: 30px  30px 135px 30px;
}
.appExamples .box:nth-child(3)
{
  margin: 30px 30px 135px 30px;
}
.appExamples .box:nth-child(4)
{
  margin: 30px  30px 135px 30px;
}
.appExamples .box:nth-child(5)
{
  margin: 30px  30px 135px 30px;
}
.appExamples .box:nth-child(6)
{
  margin: 30px  30px 135px 30px;
}
.activeBox{
  
  width: 315px;
 
  height: 315px;
  }
  .agentsExamples {
    display: flex;
    flex-wrap: wrap;
  }
  .agentsExamples .box { 
    width: 30%;
  }
}

@media (min-width: 1200px)
{
  .menu__btn {
    display: none;
}
.nav-list {
  position: static;
  height: auto;
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  list-style: none;
  font-size: 13px;
  font-weight: 400;
}
.nav-item + .nav-item{
  padding-left: 30px;
}
.nav-item
{
  margin-bottom: 0;
}
}



